<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147567962692-8qiut23tv94p41grl8v3bcc6mdjt7374.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147567962692-8qiut23tv94p41grl8v3bcc6mdjt7374</string>
	<key>API_KEY</key>
	<string>AIzaSyCCkN8PcV-aGVG7z4xvhmXDvBKkid92c2s</string>
	<key>GCM_SENDER_ID</key>
	<string>147567962692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindjot</string>
	<key>PROJECT_ID</key>
	<string>scrabble-fe91a</string>
	<key>STORAGE_BUCKET</key>
	<string>scrabble-fe91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147567962692:ios:ec8f4b311a9f8362c4ea11</string>
</dict>
</plist>